first, what is the data about?

- age

- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.

- fnlwgt: "salary"

- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool

- education-num: level of education
    
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse

- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces

- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.

- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.

- sex: Female, Male.

- capital-gain

- capital-loss

- hours-per-week

- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

- salary: >50K, <=50K

In [89]:
import pandas as pd
dataframe = pd.read_csv("database/adult/adult.csv", sep=', ')
dataframe.head()

C:\Users\Caio Passos\AppData\Local\Temp\ipykernel_21640\1505031733.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dataframe = pd.read_csv("database/adult/adult.csv", sep=', ')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. How many men and women (sex feature) are represented in this dataset?

In [90]:
men = dataframe[dataframe["sex"]=="Male"]
women = dataframe[dataframe["sex"]=="Female"]

In [91]:
men['age'].count()

21790

In [92]:
women['age'].count()

10771

2. What is the average age (age feature) of women?

In [93]:
women['age'].sum()/women['age'].count()
women['age'].mean()

36.85823043357163

3. What is the percentage of German citizens (native-country feature)?

In [94]:
germans = dataframe[dataframe['native-country']=='Germany']
germans['age'].count()/dataframe['age'].count()

0.004207487485028101

4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [95]:
more = dataframe[dataframe['salary']=='>50K']
less = dataframe[dataframe['salary']=='<=50K']

print(more['age'].std())
print(more['age'].mean(),'\n')
print(less['age'].std())
print(less['age'].mean())

10.519027719851826
44.24984058155847

14.02008849082488
36.78373786407767

6. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [96]:
atLeastHighSchool = ('Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate')
thoseWhoEarn = dataframe[dataframe['salary']=='>50K']

# THOSE WHO EARN >50K, ARE THEY ALL IN AT LEAST HIGH SCHOOL?
thoseWhoEarn['education'].isin(atLeastHighSchool).all()
# there is at least 1 person that has never been to high school, and earn > 50k

False

7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [97]:
dataframe.groupby('race').describe()

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                           fnlwgt                 ... capital-loss          \
                     max    count           mean  ...          75%     max
race                                              ...
Amer-Indian-Eskimo  82.0    311.0  120831.147910  ...          0.0  1980.0
Asian-Pac-Islander  90.0   1039.0  159940.609240  ...          0.0  2457.0
Black               90.0   3124.0  228013.124200  ...          0.0  4356.0
Other               77.0    271.0  197124.191882  ...          0.0  2179.0
White               90.0  27816.0  187298.064280  ...          0.0  4356.0

                   hours-per-week                                         \
                            count       mean        std  min   25%   50%
race
Amer-Indian-Eskimo          311.0  40.048232  11.695364  3.0  40.0  40.0
Asian-Pac-Islander         1039.0  40.127045  12.556816  1.0  40.0  40.0
Black                      3124.0  38.422855  10.315646  1.0  37.0  40.0
Other                       271.0  39.468635  11.143755  5.0  36.0  40.0
White                     27816.0  40.689100  12.544796  1.0  40.0  40.0


                     75%   max
race
Amer-Indian-Eskimo  40.0  84.0
Asian-Pac-Islander  40.0  99.0
Black               40.0  99.0
Other               40.0  98.0
White               45.0  99.0

[5 rows x 48 columns]

In [98]:
dataframe.groupby(['race','sex']).describe()

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                         fnlwgt                 ...  \
                             75%   max    count           mean  ...
race               sex                                          ...
Amer-Indian-Eskimo Female  46.00  80.0    119.0  112950.731092  ...
                   Male    45.00  82.0    192.0  125715.364583  ...
Asian-Pac-Islander Female  43.75  75.0    346.0  147452.075145  ...
                   Male    46.00  90.0    693.0  166175.865801  ...
Black              Female  46.00  90.0   1555.0  212971.387781  ...
                   Male    46.00  90.0   1569.0  242920.644997  ...
Other              Female  39.00  74.0    109.0  172519.642202  ...
                   Male    42.00  77.0    162.0  213679.104938  ...
White              Female  46.00  90.0   8642.0  183549.966906  ...
                   Male    49.00  90.0  19174.0  188987.386148  ...

                          capital-loss         hours-per-week             \
                                   75%     max          count       mean
race               sex
Amer-Indian-Eskimo Female          0.0  1721.0          119.0  36.579832
                   Male            0.0  1980.0          192.0  42.197917
Asian-Pac-Islander Female          0.0  2258.0          346.0  37.439306
                   Male            0.0  2457.0          693.0  41.468975
Black              Female          0.0  4356.0         1555.0  36.834084
                   Male            0.0  2824.0         1569.0  39.997451
Other              Female          0.0  1740.0          109.0  35.926606
                   Male            0.0  2179.0          162.0  41.851852
White              Female          0.0  4356.0         8642.0  36.296691
                   Male            0.0  3770.0        19174.0  42.668822


                                 std  min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female  11.046509  4.0  35.0  40.0  40.0  84.0
                   Male    11.596280  3.0  40.0  40.0  45.0  84.0
Asian-Pac-Islander Female  12.479459  1.0  35.0  40.0  40.0  99.0
                   Male    12.387563  1.0  40.0  40.0  45.0  99.0
Black              Female   9.419960  2.0  35.0  40.0  40.0  99.0
                   Male    10.909413  1.0  40.0  40.0  40.0  99.0
Other              Female  10.300761  6.0  30.0  40.0  40.0  65.0
                   Male    11.084779  5.0  40.0  40.0  40.0  98.0
White              Female  12.190951  1.0  30.0  40.0  40.0  99.0
                   Male    12.194633  1.0  40.0  40.0  50.0  99.0

[10 rows x 48 columns]

In [101]:
dataframe.groupby(['race','sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0